* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 8px 8px 0 8px;
}

#workspaces,
#clock,
#cpu,
#memory,
#network,
#battery,
#pulseaudio,
#tray,
#language {
    background: rgba(30, 30, 46, 0.90);
    border-radius: 14px;
    padding: 0 12px;
    margin: 0 4px;
    min-height: 34px;
}

#workspaces button {
    color: #a6adc8;
    background: transparent;
    border-radius: 10px;
    padding: 0 8px;
    margin: 4px 2px;
}

#workspaces button.active {
    color: #89b4fa;
    background: rgba(137, 180, 250, 0.15);
}

#workspaces button:hover {
    background: rgba(255,255,255,0.08);
    color: white;
}

#clock {
    color: #cdd6f4;
}

#language {
    color: #cba6f7;
}

#pulseaudio {
    color: #89dceb;
}

#network {
    color: #94e2d5;
}

#battery {
    color: #a6e3a1;
}

#cpu {
    color: #fab387;
}

#memory {
    color: #f9e2af;
}

#tray {
    padding-right: 10px;
    padding-left: 10px;
}
